h1{
    color:blue;
}
p{
    color:aliceblue;
    font-size: 30px;
}

body{
    background-color: cadetblue;
}

img{
    height: 400px;
    width: 300px;
    border:10px solid black;
    border-radius: 50%;
}